menu {
  width: 250px;
  height: 100vh;
  position: fixed;
}

div[role='logo'] {
  height: 94px;
  display: flex;
}

img[role='logo']{
  display: block;
  width:200px;
  margin:auto;
  justify-content: center;
}

button[role='menu-item']{
  height:60px;
  border-bottom: 1px #fff;
}
